<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テキスト整理</title>
</head>
<body>
    <form method="POST" action="{% url 'arrange_message:input_gemini' %}">
        {% csrf_token %}
        <div>
            <label for="message">整えたい文章を入力してください:</label>
        </div>
        <div>
            <textarea id="message" name="user_message" rows="10" cols="100"></textarea>
        </div>
        <div>
            <button type="submit">送信</button>
        </div>
    </form>
</body>
</html>